<section
  id="inicio"
  class="relative h-screen flex items-center justify-center text-center text-white"
>
  <!-- Imagen de fondo -->
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="background-image: url('/public/back.png');"
  ></div>

  <!-- Filtro oscuro -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido principal -->
  <div class="relative z-10 px-6">
    <h1 class="text-5xl font-bold mb-4 drop-shadow-lg">
      Transformamos ideas en software funcional
    </h1>
    <p class="text-lg text-gray-200 mb-6 max-w-xl mx-auto motion-preset-typewriter-[49] motion-duration-[7s] ">
      Transcendemos tu negocio hacia un futuro digital
    </p>
    <a
      href="#contacto"
      class="bg-[#1B1F3B] text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition"
    >
      Comienza tu proyecto
    </a>
  </div>
</section>
