<section id="servicios" class="py-20 bg-white">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-14">Nuestros Servicios</h2>

    <div class="mt-10 flex flex-col gap-10 sm:flex-row sm:gap-6 justify-center">
      <div
        class="motion motion-preset-slide-left flex-1 rounded-2xl p-6 min-h-[220px] text-white shadow-lg motion-delay-[100ms] motion-ease-spring-bouncier"
        style="background: linear-gradient(180deg, #F39379, #B34B70);"
      >
        <img
          alt="icono desarrollo web"
          class="-mt-16 mb-4 size-20 opacity-90 bg-blend-exclusion
         motion-safe:transition-all motion-safe:duration-300
         hover:motion-preset-expand"
          src="/public/web.png"
        />

        <h3 class="mb-2 text-2xl font-bold text-left">Desarrollo Web</h3>
        <p class="text-sm opacity-90 text-left">
          Creamos sitios web modernos, rápidos y optimizados, adaptados a la
          identidad y objetivos de tu marca.
        </p>
      </div>

      <div
        class="motion motion-preset-slide-left flex-1 rounded-2xl p-6 text-white shadow-lg motion-delay-[1100ms] motion-ease-spring-bouncier"
        style="background: linear-gradient(180deg, #02C1BD, #0B3147);"
      >
        <img
          alt="icono aplicaciones móviles"
          class="-mt-16 mb-4 size-20 opacity-90 bg-blend-exclusion motion-safe:transition-all motion-safe:duration-300
         hover:motion-preset-expand"
          src="/public/android.png"
        />
        <h3 class="mb-2 text-2xl font-bold text-left">Aplicaciones Móviles</h3>
        <p class="text-sm opacity-90 text-left">
          Creamos aplicaciones móviles a medida para Android e iOS, optimizadas para ofrecer el mejor rendimiento
          y una experiencia de usuario excepcional.
        </p>
      </div>

      <div
        class="motion motion-preset-slide-left flex-1 rounded-2xl p-6 text-white shadow-lg motion-delay-[1400ms] motion-ease-spring-bouncier"
        style="background: linear-gradient(180deg, #D976FA, #54429A);"
      >
        <img
          alt="icono sistemas a medida"
          class="-mt-16 mb-4 size-20 opacity-90 bg-blend-exclusion motion-safe:transition-all motion-safe:duration-300
         hover:motion-preset-expand"
          src="/public/medida.png"
        />
        <h3 class="mb-2 text-2xl font-bold text-left">Sistemas a Medida</h3>
        <p class="text-sm opacity-90 text-left">
          Desarrollamos soluciones empresariales seguras, escalables y adaptadas
          a las necesidades específicas de tu negocio.
        </p>
      </div>
    </div>
  </div>
</section>
